page-exhibition-detail {
     .user-details{
       p{
           color: white!important;
       }
       div{
           color: white!important;
       }

        .nav-header{
                background:rgba(0, 0, 0,0.7)!important;
                font-size: 1.4em!important;
                font-weight: bold;
                border: none!important;

                h1{
                    color:#0051BA!important;
                }
            }
    }

    .action-text{
        color: white!important
    }
 

    .footer-info{
        color: white;
    }

  

}
