page-event-detail {
    .card-style{
        width:100%;
    }


    .date{
    
            font-size: 0.9em!important;
            color:white!important;
            margin-bottom: 6px!important;
    
    }

    
}
