page-exhibitions {
    .card-style{
        width:100%;
        border-bottom:1px #0051BA solid;
        padding-right:5px!important;
        padding-left:5px!important;
    }
    .mytext{
        color: white!important;
        overflow: hidden!important;
        white-space: nowrap!important;
        text-overflow: ellipsis!important;
    }

   
}
