<!--
  Generated template for the Exhibitions page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Exhibitors</ion-title>


  </ion-navbar>

  <ion-toolbar no-border-top color="primary">
        <ion-searchbar color="light"
                      (ionInput)="searchExhibitors($event)"
                      placeholder="Search">
        </ion-searchbar>    
    </ion-toolbar>

</ion-header>


<ion-content no-padding no-margin class="content-black">

    <ion-refresher (ionRefresh)="doUpdate($event)">
        <ion-refresher-content></ion-refresher-content>
     </ion-refresher>

  <ion-grid [hidden]="!exhibitions?.length>0" no-padding class="grid-background">
      <ion-list padding class="faded-list" no-line >

            <ion-card *ngFor="let exhibition of exhibitions" class="transparent-item card-style" tappable (click)="showExhibitor(exhibition)" no-padding no-margin margin-bottom>
                <ion-card-content  no-padding no-margin>
                  <ion-grid no-padding no-margin>
                      <ion-row no-padding no-margin>
                          <ion-col col-12 col-sm-12 padding no-margin>
                              <p class="name">{{exhibition.company?.name}}</p>
                              <span class="social-link">{{exhibition.venue?.name}}</span>
                              <p class="mytext">{{exhibition.company.discription}}</p>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
                </ion-card-content>
            </ion-card>
      
      </ion-list>
  </ion-grid>

  <ion-grid [hidden]="exhibitions?.length>0" style="justify-content: center;" no-padding class="grid-background">
      <ion-row class="faded-list">
          <ion-grid style="justify-content: center;">
            <ion-col col-12 style="text-align:center">
                    <p [hidden]="isFav" style="color:white">No Exhibitors yet, pull down to refresh feeds</p>
                    <p [hidden]="!isFav" style="color:white">No Favourite Exhibitor yet, tap the Favourite button to add one</p>
            </ion-col>
          </ion-grid>
      </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <div style="background:#0051BA;height:40px" no-padding>
      <ion-slides no-margin no-padding autoplay="500" loop="true" speed="10000">
            <ion-slide *ngFor="let notification of scrollingNotifications" no-margin no-padding class="footer-style">
              <p no-margin no-padding class="footer-info">{{notification}}</p>
            </ion-slide>
      </ion-slides>
  </div>
</ion-footer>
