page-home {

    ion-card {
    position: relative;
    text-align: center;
    width: 100%!important;
  }

  .text-con{
      background:rgba(0,0,0,0.5)!important;

  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.8em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-title-small {
    position: absolute;
    top: 32%;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }



    .nav-box{
        text-align: center!important;
        color: white;
        border: 1px black  solid;
        justify-content: center!important
    }



    .nav-con{
        background: white
    }

    .overlay{
              z-index: 100000
            }


    .footer-info{
        color: white;
    }

    ion-grid{
        background: black!important
    }
   

            .light-blue{
                background: #12b7cb;
            }

             .light-red{
                background: #f15853;
            }

            .light-green{
                background:#22bb9f
            }

            .icon-large{
                font-size: 50px;
                margin-top: auto;
            }
            .icon-small{
                font-size: 40px;
                margin-top: auto;
            }
           .icon-text{
               padding: 0;
               margin: 0;
               color:white;
               font-weight: bold
           }

           @media (min-width: 567px) {
            
                .icon-large{
                    font-size:110px;
                    }
                .icon-small{

                    font-size: 90px;
                    }
                .icon-text{

                    padding: 0;
                    margin: 0;
                    font-size: 1.5em;
                    color:white;
                    }

                    .card-title {
                        position: absolute;
                        top: 36%;
                        font-size: 2.0em;
                        width: 100%;
                        font-weight: bold;
                        color: #fff;
                    }

                    .card-title-small {
                        position: absolute;
                        top: 32%;
                        font-size: 1.8em;
                        width: 100%;
                        font-weight: bold;
                        color: #fff;
                    }

               
            }

            
}
