page-note {
        .empty-grid{
            justify-content: center!important;
        }

         .hidden-item{
        background:black!important;
        border-bottom: none!important;
        div{
            background:transparent!important;
        }
        p{
            background:transparent!important;
            color:white!important;
            text-align:justify
        }
        h2{
            background:transparent!important;
            color:#0051BA!important;
        }
    }

    ion-item{
        span{
            color: #0051BA!important;
            font-size: 0.9em!important;
            margin-bottom: 4px;
        }
        p{
            color: white!important;
            font-size: 1.0em!important;
        }
    }
}
