page-papers {
    .cat-ball-text{
        color: wheat;
        font-weight: bold;
        font-size: 2.5em;
}
.card-style{
        width:100%;
        border-bottom:1px white solid
    }

.col-style{
        padding-top:10px!important;
        padding-bottom:10px!important;
        text-align:center!important;
    }

    .mytext{
        color: white!important;
        overflow: hidden!important;
        white-space: nowrap!important;
        text-overflow: ellipsis!important;
    }

}
